@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*COLOR OSCURO #2C3333
COLOR SEMIUSCURO #395B64
COLOR SEMICLARO #A5C9CA
COLOR CLARO #E7F6F2*/

/*TITTLE AND PAGE STYLE COLOR*/
body{
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    min-width: 940px;
    background: #2C3333;
    margin: 0 0 1em;
    padding: 3em;
    
}
header{
    text-align: center;
}
.wrapper{
    display: inline-flex;
    
}
.wrapper .mainTitle{
    color: #E7F6F2;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dinamycTitle{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dinamycTitle li{
    color: #A5C9CA;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
    margin-right: 15px;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.dinamycTitle li span{
    position: relative;
}
.dinamycTitle li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2C3333;
    border-left: 2px solid #A5C9CA;
    animation: typing 1.5s steps(9) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
/*INPUT AND OUTPUT*/
.console{
    justify-content: space-evenly;
    height: 400px;
}
section{
    width: 40%;
    height: 100%;
    padding: 1em;
    background-color: #395B64;
    border: none;
    border-radius: 7px;
}
.top{
    width: 100%;
    height: 30px;
    position: relative;
    margin: 0 auto;
    background-color: #A5C9CA;
    color: #395B64;
    border-radius: 7px;
    text-align: center;
    border: none;
}
.top nav{
    position: absolute;
    top: 4.5px;
}
nav li{
    display: inline-block;
    margin: 1px;
    width: 12px;
    height: 12px;
    background-color: #FFBD44;
    border-radius: 100%;
    padding: 0.5em;
}
nav li:first-child{
    background-color: #FF605C;
}
nav li:last-child{
    background-color: #00CA4E;
}
.input{
    float: left;
}
.input textarea{
    resize: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #E7F6F2;
    text-align:start;
    letter-spacing: 2px;
    border: none;
}
.input textarea:focus-visible {
    outline: none;
    background-color: transparent;
    color: #E7F6F2;
}
.encrypt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    float: none;
}
.end{
    width: 100%;
    height: 30px;
    background-color: #A5C9CA;
    color: #395B64;
    border-radius: 10px;
    text-align: center;
    border: none;
}
.end nav{
    position: absolute;
    top: 160px;
}
.textOutput{
    width: 100%;
    color: #A5C9CA;
    letter-spacing: 2px;
    text-align: justify;
}
.textOutput p{
    margin: 0;
    width: 100%;
}
.copyButton{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-top: 50px;
    float: left;
}
.buttons button{
    background-color: transparent;
    border-left: 3px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 3px solid transparent;
    padding: 0.4em 0;
    width: 80%; 
    color: #A5C9CA;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: #395B64;
    border-radius: 7px;
    transition: 500ms all;
}
.buttons button::first-letter{
    color:#E7F6F2;
}
.buttons button:hover{
    background: #A5C9CA;
    color: #395B64;
    transform: scale(1.2);
    cursor: pointer;
}
span {
    animation: 1s console ease 10;
}
@keyframes console {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    51% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
      height: 100%;
    }
    section, .buttons{
      width: 100%;
      min-height: 30vh;
      height: 100%;
    }  
}
footer{
    text-align: center;
    background-color: transparent;
    padding: 40px;
}
.derechos{
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px;
    text-align: center;
} 
.fa{
    padding: 5px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #E7F6F2;
}
.fa:hover {
    color: #395B64;
    opacity: 0.7;
}
.fa-github {
    background: transparent;
}
   
@media screen and (min-height: 900px) {
   body{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   section, .buttons{
    width: 70%;
    max-width: 1200px;
   } 
   .end nav{
    position: absolute;
    top: 1010px;
}
}
